:root{
    --main-color:#be9c79;
    --black:#333;
    --white:#fff;
    --light-color:#666;
    --border:.2rem solid var(--black);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    text-decoration: none;
    text-transform: capitalize;  
}
::selection{
    background-color: var(--main-color);
    color: var(--white);

}
::-webkit-scrollbar{
    height: 0.5rem;
    width:1rem;   
}

::-webkit-scrollbar-thumb{
    background-color:var(--main-color) ;   
}
html{
    font-size: 62.5%;

}
section{
    padding: 3rem 2rem ;
    max-width: 1200px;
    margin: 0 auto;
}
.heading{
    text-align: center;
    margin-bottom: 2rem;
}
.heading img{
    height: 12rem;
    width: 20rem;
    margin-bottom: 0.5rem;
}
.heading h3{
    font-size: 4rem;
    color:var(--black);
    font-family: 'Merienda One',cursive;
}
.btn{
    display: inline-block;
    margin-top: 1rem;
    background-color: var(--main-color);
    cursor:pointer;
    color: var(--white);
    font-size: 1.8rem;
    padding: 1rem 3rem;
}
.btn:hover{
    background-color: var(--black);
}
.header{
    position: sticky; 
    top:0; left: 0; right: 0;
    background-color: var(--white);
    box-shadow: 0 .5rem 1rem rgba(0,0,0,1);
    
}
.header .flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 2rem;
   
}
.header .flex .logo img{
    height: 4rem;
    margin-left: 3rem;
}
.header .flex .navbar a{
    font-size: 2.5rem;
    margin-left: 3rem;
    color: var(--black);
}

.header .flex .navbar a:hover{
    text-decoration: underline;
    color: var(--main-color);
}

#menu-btn{

    font-size: 2.5rem;
    cursor: pointer;
    color: var(--black);
}
.trangchu-bg{
    background:linear-gradient(180deg, var(--white), transparent 30%),url(../images/trangchu-bg.jpg) no-repeat;
    background-size: cover;
    background-position: center ;
}
.trangchu-bg .trangchu{
    min-height: 70rem;
    display: flex;
    align-items: center;
    margin-left: 70rem;
}
.trangchu-bg .trangchu .content{
    width: 50rem;
    text-align: center;
}
.trangchu-bg .trangchu .content h3{
    font-size: 6rem;
    color:var(--white);
    font-family: 'Merienda One',cursive;
}
.trangchu-bg .trangchu .content p{
    padding: 1rem 0;
    font-size: 1.5rem;
    color:var(--white);
    line-height: 2;
}
.gioithieu{
    margin-top: 2rem;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap:4rem;
}
.gioithieu .image{
   width: 56rem;
}
.gioithieu .image img{
    width: 100%;
}
.gioithieu .content{
    width: 56rem;
}
.gioithieu .content h3{
    font-size: 4rem;
    color: var(--black);
    font-family: 'Merienda One',cursive;
}
.gioithieu .content p{
    padding: 1rem 0;
    line-height: 2;
    color: var(--light-color);
    font-size: 1.7rem;   
}
.dungcu .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(27rem,1fr));
    gap: 1.5rem;
    align-items: flex-start;
}
.dungcu .box-container .box{
    text-align: center;
}
.dungcu .box-container .box img{
    height: 20rem;
}
.dungcu .box-container .box h3{
    margin:1rem 0 ;
    font-size: 2.5rem;
    color:var(--black);
   
}
.dungcu .box-container .box p{
    line-height: 2;
    font-size: 1.4rem;
    color: var(--light-color);
}
.menu .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,30rem);
    gap: 2rem;
    align-items: flex-start;
    justify-content: center;
}
.menu .box-container .box{
    text-align: center;
}
.menu .box-container .box img{
    width: 100%;
}
.menu .box-container .box h3{
    font-size: 2rem;
    color: var(--black);
    margin-top: 2rem;
}
.thuvien .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,33rem);
    gap: 1.5rem;
    justify-content: center;
}
.thuvien .box-container img{
    height: 100%;
    width: 100%;
    
}
.team .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,33rem);
    gap: 1.5rem;
    justify-content: center;
}
.team .box-container .box{
    text-align: center;
}
.team .box-container .box img{
    width: 100%;
    margin-bottom: .5rem;
}
.team .box-container .box h3{
    font-size: 2rem;
    color:var(--black)
}
.lienhe .row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap:2rem;
}
.lienhe .row .image{
    width: 67rem;

}
.lienhe .row .image img{
    width: 100%;

}
.lienhe .row form{
    width: 47rem;
    border: var(--border);
    padding: 2rem;
    text-align: center;
}
.lienhe .row form h3{
    font-size: 2.5rem;
    margin-bottom:1rem ;
    color: var(--black);
}
.lienhe .row form .box{
    width: 100%;
    padding: 1.4rem;
    font-size: 1.8rem;
    color: var(--black);
    border: var(--border);
    margin: 1rem 0 ;
    
}
.datban{
    margin: 4rem 0 ;
    display: flex;
    justify-content: center;
}
.footer .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(27rem,1fr));
    gap: 1.5rem;
    align-items: flex-start;
}
.footer .box-container .box{
    text-align: center;
}
.footer .box-container .box i{
    font-size: 2.5rem;
    line-height: 6rem;
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    background-color: var(--main-color);
    color: var(--white);
    margin-bottom: 1rem;
}
.footer .box-container .box h3{
    margin: 1rem 0;
    font-size: 2rem;
    color: var(--black);

}
.footer .box-container .box p{
    line-height: 2;
    font-size: 1.5rem;
    color: var(--light-color);
}
.footer .credit{
    text-align: center;
    margin-top: 3rem;
    padding-top: 2.5rem;
    border-top: var(--border);
    font-size: 2rem;
    color: var(--black);
}
.footer .credit span{
    color: var(--main-color);
}